.container {
  max-width: $website-width;
  margin: auto;
  overflow: visible;
}

.l-heading {
  font-size: 3rem;
  font-weight: 100;
  font-family: $secondary-font;
  line-height: 1.2;
}

.s-heading {
  font-size: 1rem;
  font-weight: bold;
  font-family: $secondary-font;
}
